*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* 

Da Giacomo Biffi a Tutti: (2:39 PM)
 https://www.w3schools.com/jsref/jsref_sort.asp https://www.w3schools.com/jsref/jsref_push.asp 
Da Davide Corsini a Tutti: (3:00 PM)
 https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_slice  */